--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1
torchvision==0.22.1
pillow
tensorboard
tensorboardX
lmdb
tfrecord
scipy
matplotlib==3.10.1
torchinfo==1.8.0
virtualenv
seaborn
pandas
numpy
tqdm
POT
